#menu {
    float: left;
    width: 200px;
    margin: 20 20 20;
}

#menu a {
    text-decoration: none;
}

#menu a:hover {
    text-decoration: underline;
}

#content {
    margin: 20 20 20 220;
    min-width: 300px;
    max-width: 900px;
}